# --- Project Specific Folders ---
/Server/
/.hypothesis/
/Tests/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Apps Script / Tooling ---
.clasp.json
node_modules/

